body {
background-image: url(../img/515.png);
background-repeat: repeat;	
font: 18px Verdana;
padding: 0;
margin: 0;
}

header {
margin-top: 0;
height: 60px;
background-color: #F6C60A;	
border-bottom: 1px solid #363332;
text-align: center;
padding: 5px;
color: #363332;
padding-bottom: 10px;
}

#cen {
width: 1250px;
margin: 20px auto;	
}

#alb {
position: relative;
width: 300px;
height: 240px;
margin: 20px 3px;
float: left;
border: 3px solid #F6C60A;
}

#gall {
position: relative;
width: 1250px;
margin: 20px 33px;
}

#gall img {
object-fit: cover;
height: 250px;
width: 300px;	
border: 3px solid #F6C60A;
margin: 10px auto;
}

#gall img a:link, #alb img a:link {
color: #F6C60A;
}

#gall img a:visited, #alb img a:visited{
color: #F6C60A;
}

#gall img a:hover, #alb img a:hover{
color: #F6C60A;
}

#gall img a:active, #alb img a:active{
color: #F6C60A;
}


#album {
font: 12px Verdana;
color: 	#363332;
text-align: center;
}

header a {
color: black;
text-decoration: none;
}

#back {
height: 75px;
width: 28px;
position: fixed;
top: 290px;
left: 0;	
border: 1px solid #363332;
border-left: none;
}

#main {
height: 210px;
width: 28px;
position: fixed;
top: 75px;
left: 0;	
border: 1px solid #363332;
border-left: none;
}